character = {
    "Pikachu",
    "Kirby",
    "Captain Falcon",
    "Fox",
    "Yoshi",
    "Mario",
    "Luigi",
    "Donkey Kong",
    "Ness",
    "Samus",
    "Link",
    "Jigglypuff",
}

-- Priority é checada quando golpes são usados simultaneamente e quem tiver maior priority usa o golpe. 
-- Se for igual, dá clash e repete.
-- Stun é quanto de stun o golpe deixa o outro boneco
-- Connection é qual o mínimo de stun necessário no outro boneco pra poder conectar o golpe
-- Pro golpe 1 counterar um golpe 2, a prioridade do golpe 1 precisa ser maior que a diferença entre o nível de stun do boneco que tá usando o golpe 1 e a conexão do golpe 2, se for igual, dá clash
-- e.g. golpe 1 = Shine e golpe 2 = smash
-- prioridade do shine = 5/conexão do smash = 5/stun do boneco 1 = 4
-- counter if 5 > 
--5 > -3, então countera 
-- ou talvez o stun no boneco do outro só diminui a prioridade dele em 1

character["Fox"] = {
    "moves" = {
    {"Jab" = {["Damage"] = 6,["Priority"] = 4,["Stun"] = 1},["Connection"] = 3},
    {"Shine" = {["Damage"] = 4,["Priority"] = 5,["Stun"] = 0},["Connection"] = 2},
    {"Smash" = {["Damage"] = 15,["Priority"] = 1,["Stun"] = 2},["Connection"] = 1},
    {"Tilt" = {["Damage"] = 8,["Priority"] = 4,["Stun"] = 0},["Connection"] = 1},
    {"Firefox" = {["Damage"] = 10,["Priority"] = 4,["Stun"] = 0},["Connection"] = 5},
    {"Shield" = {["Damage"] = 0,["Priority"] = 4,["Stun"] = 0},["Connection"] = 1},
    {"Grab" = {["Damage"] = 7,["Priority"] = 4,["Stun"] = 0},["Connection"] = 1},
},
    "weight" = 3,
    "speed" = 3
}

